html,
body,
#root {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 10px;
}

.content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  text-align: left;
  height: 100%;
}

footer {
  width: 100%;
  height: 300px;
}

section {
  width: calc(100% - 200px);
}

article {
  padding: 10px;
}

aside {
  min-width: 200px;
  padding: 10px;
  background-color: #ccc;
  height: 100%;
}

.button-container {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  :hover {
    background-color: #2accf8;
  }

  :active {
    background-color: #99dafb;
  }
}

.disabled .button {
  background-color: #ccc;
  color: #000;
  cursor: not-allowed;

  :hover {
    background-color: #ccc;
  }
}

.button-cost {
  font-size: 0.9em;
  font-style: italic;
}

.message-box {
  background-color: #282c34;
  color: #fff;
  padding: 10px;
  height: 100%;
}

.message {
  padding: 5px;
}

.button.skill {
  width: 250px;
}

.unlocked {
  background-color: #00bb00;
}
.description {
  font-size: 0.8em;
  font-style: italic;
  padding: 5px;
}

.requirement {
  border-top: 2px solid #2accf8;
  border-bottom: 2px solid #2accf8;
  padding: 5px;
}

nav {
  background-color: #282c34;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
}

.tab {
  width: 120px;
  padding: 10px;
  border-radius: 2px 2px 0 0;
  cursor: pointer;
  color: #fff;
  margin-left: 10px;
}

.tab.active {
  background-color: #fff;
  color: #000;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
