html,
body,
#root {
  height: 100%;
}

* {
  box-sizing: border-box;
}


.button-container {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  :hover {
    background-color: #2accf8;
  }

  :active {
    background-color: #99dafb;
  }
}

.disabled .button {
  background-color: #ccc;
  color: #000;
  cursor: not-allowed;

  :hover {
    background-color: #ccc;
  }
}

.button-cost {
  font-size: 0.9em;
  font-style: italic;
}

.message-box {
  background-color: #282c34;
  color: #fff;
}



nav {
  background-color: #282c34;
}

.tab {
  padding: 6px;
  border-radius: 2px 2px 0 0;
  cursor: pointer;
  color: #fff;
}

.tab.active {
  background-color: #fff;
  color: #000;
}
